$main-color: #3528D7;
$secondary-color: rgba(11, 39, 81, 0.85);
$nav-background: linear-gradient(-50deg, rgba(67, 111, 172, 0.95) 30%, rgba(17, 56, 135, 0.95) 70%);
$dark: #222;
$pure-white: #fff;
$light-white: #ddd;
$btn-hover: rgb(164, 164, 164);
$card-hover: rgba(0, 8, 21, 0.6);
$red: rgb(221, 100, 79);
$success: rgb(23, 162, 23);
$text-muted: #464646;
$gold: rgb(217, 194, 64);
$cta: #CAD728;
$cta-hover: #b8b327;